/** COLORS **/

@main: #ce002d;
@white: #ffffff;
@text-dark: #333;
@text-medium: #757477;
@bg-1: #bfbfbf;
@bg-2: #e1e1e1;
@bg-3: #f1f0f0;
@text-light: #a5a6a6;
@red-gradient-1: #ac0227;
@red-gradient-2: @main;
@yellow: #fed219;
