h2 {}

h3 {}


h1,
h2,
h3,
h4,
p {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: block;
}

@red: @main;
@dark: @text-dark;
@light: @text-light;

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}
