fieldset {
    border: none;
}

.entry-content {

    p.swpm-item-submit input,
    .swpm-login-form-submit {
        background-color: @main;
        color: @white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9em;
        padding: 10px 15px !important;
        border: none;
        border-radius: 0;
    }

    .swpm-login-widget-form {
        padding-top: 4em;
        width: 400px;
        max-width: 90%;
        margin: auto;

        label {
            font-weight: bold;
        }

        input {
            width: 100%;
        }

        .swpm-remember-me {
            display: flex;
            padding-bottom: 1em;

            .swpm-remember-checkbox {
                width: 24px;
                height: 24px;
                display: block;
                margin-right: 10px;
            }

        }

        a:hover {
            color: @main;
        }
    }

    .swpm-form-builder-container,
    .swpm-login-widget-form {

        li.swpm-item,
        .swpm-username-label,
        .swpm-password-label {
            label {
                color: @main;
            }
        }

        li.swpm-item,
        .swpm-username-input,
        .swpm-password-input {
            input {
                border: 2px solid @text-light;
                border-radius: 0;
                padding: 5px;
            }
        }

        .swpm-form-builder .swpm-legend {
            border-bottom: none;

            h3 {
                text-align: center;
                width: 100%;
                padding: 0;
                display: block;
            }
        }

        @media only screen and (min-width:768px) {
            ul.swpm-section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-grow: 1;

                .swpm-item-password {
                    width: 100% !important;

                    & > div {
                        width: 50%;
                        display: inline-block;

                        &:first-of-type {
                            padding-right: 2em;
                        }

                        &:last-child {
                            padding-left: 2em;
                        }

                        input {
                            width: 100%;
                        }
                    }
                }

                li.swpm-item {
                    padding: 1em 2em !important;
                }

                li.swpm-item:not(.swpm-item-password) {
                    width: 50% !important;
                    display: block;


                    input {
                        width: 100%;
                    }
                }

            }
        }

        @media only screen and (max-width:768px) {

            ul.swpm-section {
                display: block;

                li.swpm-item {
                    width: 100%;

                    input {
                        width: 100%;
                        display: block;
                        margin: auto;
                    }
                }

                .swpm-item-password {
                    & > div {
                        margin-bottom: 2em;
                    }
                }
            }


        }
    }
}
