* {
    font-family: 'Helvetica', sans-serif;
}

html,
body {
    overflow-x: hidden;
    margin: 0 !important;
    overflow-y: auto;
    width: 100vw;
    -webkit-overflow-scrolling: touch;
}

main {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: auto;
    min-height: 70vh;
    height: 100%;
}

footer {
    background-color: @main;
    color: @white;
}

section {
    margin: 1em auto !important;
}

#masthead {
    position: fixed;
    background-color: @white;
    width: 100%;
    z-index: 100;
}

#breadcrumbs {
    text-align: center;
    margin: 60px auto 0 auto !important;
    font-size: 0.85em;
    padding: 1.5em 0;
    text-transform: uppercase;
    color: @text-light;

    a:hover {
        color: @text-dark;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(0px);

    &:hover {
        cursor: pointer !important;
    }
}




/**-----------------
    **-----------------
    Loader strony
    **-----------------
    **----------------*/

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    //tutaj można zmienić obrazek na loaderze:
    background: url('../assets/top-panel/logo-jzo.png') center no-repeat #fff;
}

.page-template-default {

    .entry-header,
    #breadcrumbs {
        display: none;
    }

}

//**************************************************************************
//*************************************************************************
//Fluid Layout Components
//*************************************************************************
//*************************************************************************

@media only screen and (max-width: 480px) {

    #gallery-2-col,
    #gallery-3-col,
    #gallery-4-col,
    #gallery-5-col {

        grid-template-columns: 1fr;
    }

    .product-gallery {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }
}

@media only screen and (min-width:481px) and (max-width: 768px) {
    .product-gallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }


}

@media only screen and (min-width:481px) and (max-width: 600px) {

    #gallery-5-col,
    #gallery-4-col,
    #gallery-3-col {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width:600px) {
    .icon-gallery-center {
        display: block;

        .gallery-item {
            width: 80%;
            margin: auto;
            display: block;
        }
    }
}

@media only screen and (min-width:601px) {
    .icon-gallery-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .gallery-item {
            max-width: 230px;
            width: 50vw;
        }
    }
}

@media only screen and (min-width:601px) and (max-width: 768px) {

    #gallery-2-col {
        grid-template-columns: 1fr 1fr;
    }

    #gallery-3-col,
    #gallery-4-col,
    #gallery-5-col {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width:769px) {

    .chess-grid {
        & > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .img {
            padding-bottom: 70%;
        }
    }

    #text_and_img_row {
        display: grid;
    }

    .text-img-row-1,
    .img-text-row-1 {

        grid-template-columns: 1fr 2fr;
    }

    .text-img-row-2,
    .img-text-row-2 {

        grid-template-columns: 2fr 1fr;
    }

    .text-img-row-3,
    .img-text-row-3 {

        grid-template-columns: 1fr 1fr;
    }

    .img-text-row-1,
    .img-text-row-2,
    .img-text-row-3 {
        .paragraph {
            padding-left: 2em;

            h1,
            h2,
            h3,
            h4,
            h5 {
                margin-left: 0 !important;
                width: 100% !important;
            }
        }
    }

    .text-img-row-1,
    .text-img-row-2,
    .text-img-row-3 {
        .paragraph {

            h1,
            h2,
            h3,
            h4,
            h5 {
                margin-left: 0 !important;
                width: 100% !important;
            }

            padding-right: 2em;
        }
    }

    .product-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
}




@media only screen and (max-width: 768px) {

    .chess-grid {
        .paragraph {
            margin-top: 1em;
        }

        .chess-left {
            display: block;

        }

        .chess-right {
            display: flex;
            flex-direction: column-reverse;
        }

        .img {
            padding-bottom: 40%;
        }
    }

    .text-grid-row {
        padding: 1em 0 2em 0;
        display: block;

        .paragraph {
            padding-bottom: 2em;
        }

        .gallery {
            display: block;
            width: 90%;
            margin: auto;

            .gallery-item {
                width: 100%;
                max-width: 300px;
                margin: auto;
                display: block;
            }

            .img {
                width: 100%;
                padding-bottom: 100%;
                display: block;
            }
        }
    }

    #text_and_img_row {
        display: block;

        .paragraph {
            margin: 1em 0;
        }
    }

    footer {
        p {
            display: block;
            width: 80%;
            margin: 1em auto;
            text-align: center;
        }
    }

}


@media only screen and (min-width: 769px) and (max-width: 960px) {
    .text-grid-row {
        padding: 1em 0 2em 0;
        display: block;

        .paragraph {
            padding-bottom: 2em;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
            justify-content: center;
            grid-template-columns: 1fr 1fr 1fr;

            .gallery-item {
                padding: 0 1em;
                width: 30vw;
                min-width: 200px;
                justify-content: space-between;

                .img {
                    padding-bottom: 20vw;
                    min-width: 20vw;
                    display: block;
                    margin: auto;
                    max-height: 170px;
                    max-width: 170px;
                }
            }
        }
    }

    #gallery-2-col {
        grid-template-columns: 1fr 1fr;
    }

    #gallery-3-col {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery-4-col,
    #gallery-5-col {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width:769px) {
    footer {
        height: auto;

        position: relative;
        bottom: 0;
        width: 100%;


        .site-info {
            display: flex;

            p {
                display: inline-block;
                width: 80%;
                margin: auto;
                text-align: center;
                padding: 1em;
            }
        }
    }
}

@media only screen and (max-width: 960px) {


    .text-column-group {
        display: block;

        p {
            width: 100%;
        }

        .text-column {
            padding: 1em 0;
        }
    }

    .red-separator {
        width: 90%;
    }

}

@media only screen and (min-width: 961px) {
    .text-column-group {
        display: flex;

        .text-column {

            display: inline-block;
        }
    }

    .red-separator {
        width: 100%;
    }

    .text-grid-row {
        padding: 1em 0 2em 0;
        grid-gap: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;

        p {
            width: 100%;
        }

        .gallery {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .gallery-item {
                padding: 0 1em;


                .img {
                    min-height: 160px;
                    min-width: 160px;

                }
            }
        }
    }


    #gallery-2-col {
        grid-template-columns: 1fr 1fr;
    }

    #gallery-3-col {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery-4-col {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #gallery-5-col {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width:1201px) {

    #text_and_img_row,
    .text-column-group,
    .product-gallery {
        width: 100%;
        max-width: 1200px;
    }

    #gallery-2-col,
    #gallery-3-col,
    #gallery-4-col,
    #gallery-5-col {
        width: 100%;
        max-width: 1200px;
    }

}

@media only screen and (max-width:1200px) {

    #text_and_img_row,
    .text-grid-row,
    .text-column-group,
    .product-gallery {
        width: 90%;
    }

    #gallery-2-col,
    #gallery-3-col,
    #gallery-4-col,
    #gallery-5-col {
        width: 90%
    }


}



/**-----------------
    **-----------------
    Hero image
    **-----------------
    **----------------*/
.hero {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#hero_img_1 {
    .hero {
        height: 500px;
        max-height: 70vw;
    }
}

#hero_img_2 {
    .hero {
        height: 300px;
        max-height: 40vw;
    }
}

/**-----------------
    **-----------------
Kolumny tekstu
    **-----------------
    **----------------*/
.text-column-group {
    padding: 2em 0 0 0;

}

/**-----------------
    **-----------------
    Separator
    **-----------------
    **----------------*/


.red-separator {
    display: block;
    height: 1px;
    background-color: @red;
}

.red-jumbotron {
    background-color: @main;
    color: #fff;
    text-align: center;
    padding: 1em;

    h1 {
        width: 90%;
        max-width: 900px;
        margin: auto;

    }

    p {
        width: 70%;
        max-width: 700px;
        margin: auto;
        padding: 1em;
    }

    a {
        text-decoration: none;
    }
}

/**-----------------
    **-----------------
    Czerwony Nagłowek
    **-----------------
    **----------------*/


.red-header {
    color: @red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6em !important;
    .text-c;
    margin: auto;
    padding: 1em 0;
}


/**-----------------
    **-----------------
    **-----------------
    Kolumna tekstu i galeria 50/50
    **-----------------
    **-----------------
**----------------*/

.text-grid-row {
    .gallery {
        .img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 1em;
            display: block;
        }

        .gallery-title {
            margin: auto;
            text-align: center;
            font-size: 1.1em;
            padding-bottom: 1em;
            font-weight: bold;
        }


        .paragraph {
            padding-bottom: 3em;
            text-align: center;
            font-size: 0.9em;
        }
    }
}


//tekst w galeriach

.gallery-item {

    h2 {
        color: @main;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3em;
        padding-bottom: 10px;
    }

    h3 {
        color: @text-dark;
        font-weight: 500;
        font-size: 1.1em;
        padding-bottom: 10px;

    }

    p {
        color: @text-medium;
    }
}


/**-----------------
    **-----------------
Elastyczna galeria
    **-----------------
    **----------------*/


.icon-gallery-center {
    width: 100%;
    padding: 2em 0;
    padding: 2em 0;

    .gallery-item {
        height: auto;
        margin: 2em;

        .img {
            min-width: 200px;
            height: 200px;
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}


#text_and_img_row {

    margin: auto;
    max-width: 1200px;
    padding: 1em 0 2em 0;

    .paragraph p {
        margin: 0;
        width: 100% !important;
    }

    .img {
        width: 100%;
        padding-bottom: 60%;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

///podstrona wynikow wyszukiwania

.search-form {
    input[type="search"] {
        border-top: none;
        border-right: none;
        border-left: none;
        height: 40px;
        color: @text-dark;
        padding: 0 10px;
        border-radius: 0;
        border-bottom: 2px solid @text-light;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;

        &:focus {
            color: @text-dark;
        }
    }

    input[value="search"] {
        display: none;
    }

    .search-submit {
        height: 40px;
        width: 38px;
        background-color: #fff !important;
        border-radius: 0;
        border-top: 0;
        color: rgba(255, 255, 255, 0);
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid @text-light;
        background-image: url('../assets/top-panel/search.png');
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            background-position: right;
        }
    }

}

.top-panel-buttons .search-form {
    max-width: 200px;

    label {
        width: 100%;

        input {
            width: 100%;
        }
    }

    input[type="submit"] {
        height: 40px;
        width: 41px;
    }
}

.search-results.search-form {
    max-width: 600px;
    width: 90%;
    margin: auto;
}

.search-results,
.page-template-wyszukiwarka {
    main {
        padding-top: 4em;
        width: 90%;
        max-width: 1200px;
    }

    h1 {
        margin: 1em auto;
        font-size: 1.4em;
        text-transform: uppercase;
    }

    .query {
        color: @main;
    }

    h2 {
        font-size: 1.1em;

        a:hover {
            color: @main;
        }
    }

    h3 {
        padding: 1em 0;
    }

    a:hover {
        color: @main;
    }

    .custom-search {
        height: 40px;

        input {
            border-bottom: 2px solid @main;
        }

        &:hover {
            input {
                border-bottom: 2px solid @main;
            }
        }

        form {
            height: 50px;
            width: 100%;
            display: flex;
            float: left;
            margin-bottom: 2em;

            label,
            label > input {
                width: 100%;
                height: 50px;
            }

            input[type="submit"] {
                height: 50px;
                width: 50px;
            }
        }
    }


}

a:hover:not(.product-gallery a:hover) {
    .gallery-item .img {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        transition-timing-function: ease-in-out;
        transform: translateY(-3px);
        transition: 0.3s;

    }
}



//galeria 2 kolumny lub felx kwadrat


#gallery-2-col,
#gallery-3-col,
#gallery-4-col,
#gallery-5-col {

    display: grid;
    grid-gap: 2em;
    padding: 2em 0 0 0;
    margin: auto;

    .gallery-item {
        margin-top: 0;
        display: block;
        width: 100%
    }

    a > .gallery-item {

        width: 100% !important;
    }


    .img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        margin: 0 auto 1em auto;
    }

    a {
        margin-top: 0;
        width: 100%;

    }

    h2,
    h3,
    p {
        text-align: left;
        width: 100%;
    }
}




.square {
    .img {
        width: 100%;
        padding-bottom: 100%;

    }

    h2,
    h3,
    p {
        text-align: left;
        width: 100%;
    }
}

.landscape-wide {
    .img {
        width: 100%;
        padding-bottom: 45%;

    }
}

.landscape {
    .img {
        width: 100%;
        padding-bottom: 70%;

    }
}

.portrait {
    .img {
        width: 100%;
        padding-bottom: 150%;

    }
}

//galeria produktu
.product-gallery {
    display: grid;
    margin: auto;

    .img {
        width: 100%;
        padding-bottom: 60%;
        display: block;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }

    .paragraph {
        border: 2px solid @text-light;
        padding: 0.5em;

        .name {
            text-transform: uppercase;
            font-weight: bold;
        }

        p {
            margin-bottom: 0;
        }
    }

    a:hover {
        .img {
            opacity: 0.8;
            transition: 0.3s;
        }

        .paragraph {
            border: 2px solid @text-dark;
            transition: 0.3s;
        }
    }
}

//szachownica
.chess-grid {

    .paragraph {
        align-self: center;
    }

    .img {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 0;
    }
}


.blank-space {
    width: 100%;
    display: block;
    height: 2em;

}

//**************************************************************************
//*************************************************************************
//404 PAGE
//*************************************************************************
//*************************************************************************

.error-404 {

    .error-404-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        display: block;
    }

    .error-header {
        color: @yellow;
        font-weight: bold;
        font-size: 10em;
        width: 90%;
        display: block;
        margin: auto;
    }

    a {
        color: @main;

        &:hover {
            color: @red-gradient-1;
        }

        p {
            margin-bottom: 0;
            padding: 0.4em 0;
        }
    }

}

@media only screen and (max-width:768px) {
    .error-404 {
        display: block;
        grid-template-columns: 1fr 1fr;
        padding-top: 6em;

        .error-404-img {
            background-image: url('../assets/images/Fotolia_251527931_Subscription_Monthly_M.jpg');
            height: 300px;
        }

        .mobile-error-header {
            text-align: center;
            margin: auto;
        }

        .error-page-content {
            padding: 2em 0;

            .red-separator {
                width: 50%;
                left: 0;
                margin-left: 5%;
            }

            .desktop-error-header {
                display: none;
            }
        }
    }

}

@media only screen and (min-width:768px) {
    .error-404 {
        display: grid;
        padding-top: 5em;
        grid-template-columns: 1fr 1fr;
        min-height: 70vh;

        .error-404-img {
            background-image: url('../assets/images/Fotolia_249995536_Subscription_Monthly_M.jpg');
        }

        .mobile-error-header {
            display: none;
        }

        .desktop-error-header {}

        .error-page-content {
            padding-top: 2em;
            padding-left: 3em;

            .red-separator {
                display: none;
            }
        }
    }
}
