@media only screen and (min-width: 768px) and (max-width: 960px) {}

//*************************************************************************************************
//*******************************************************************************************
//M O B I L E!! 
//*******************************************************************************************
//*************************************************************************************************

@media only screen and (max-width: 960px) {
    .active {
        display: block !important;
    }

    .submenu-toggle {
        display: block !important;
    }

    .fixed {
        position: fixed;
        width: 100% !important;
    }

    #breadcrumbs {
        padding-top: 6em;
    }

    .mobile-scroll {
        height: 100vh;
        overflow: scroll;
        z-index: 1000;
        top: 60px;
        position: fixed;
        padding: 0 15px 60px 15px;
        width: 100%;
        background-color: #fff;
    }

    #site-navigation.second-nav-desktop {
        display: none;
    }

    #site-navigation.second-nav-mobile {
        position: relative;

        width: 100%;
        display: block;
        z-index: 10;
    }

    .menu-second-menu-container {
        height: 9em;

        background-image: linear-gradient(to top, @red-gradient-1, @red-gradient-2);

        ul {
            display: block;

            li {
                display: block;
                width: 100%;
                text-align: center;
            }
        }

        a:hover {
            color: rgba(255, 255, 255, 0.7) !important;

        }
    }

    .advanced-nav {
        position: fixed;
        top: 60px;
        z-index: 100;
    }

    .menu-toggle {
        position: fixed;
        top: 25px;
        right: 15px;
        width: 30px;
        z-index: 100;
        height: 24px;

        span {
            width: 100%;
            display: block;
            height: 4px;
            background-color: @text-dark;
            position: absolute;
            border-radius: 2px;

            transition: 0.3s;

            &:nth-child(2) {
                top: 10px;
            }

            &:last-child {
                bottom: 0;
            }
        }

        .toggled {
            &:first-of-type {
                transform: rotate(45deg) translate(2px, 8px);
                transition: 0.3s;
                transition-timing-function: ease-in-out;
            }

            &:nth-child(2) {
                transform: translateX(5em);
                transition: 0.1s;
                transition-timing-function: linear;
            }

            &:last-child {
                transform: rotate(-45deg) translate(5px, -12px);
                transition: 0.3s;
                transition-timing-function: ease-in-out;
            }
        }

    }


    .menu-toggle:hover {
        cursor: pointer;

        span {
            background-color: @main;

        }
    }

    .menu {
        display: none;
        width: 100%;
        text-align: left;

        li {
            position: relative !important;
            height: auto;

            a {
                height: 100%;
                padding: 10px 0;
            }
        }

        .menu-parent-item:hover {
            //            .menu-depth-1 {
            //                left: 0 !important;
            //                display: block;
            //            }
            //
            //            .sub-menu:first-of-type:last-of-type {
            //                left: 0 !important;
            //            }
        }


        .mobile-menu-chevron {
            width: 150px;
            height: 41px;
            color: @main;
            padding-right: 15px;
            position: absolute;
            display: block;
            float: right;
            right: 0;

            span {
                height: 100%;
                width: 40px;
                background-image: url('../assets/chevron-up.svg');
                background-color: #fff;
                transform: rotate(180deg);
                transition: 0.3s;
                transition-delay: 0.2s;
                background-size: contain;
                background-position: right center;
                display: block;
                float: right;
                right: 0;
                position: absolute;
                background-repeat: no-repeat;
            }

            .toggled {
                transform: rotate(0deg);
                transition: 0.3s;
                transition-delay: 0.2s;
            }

            /* top: 0; */

            &:hover {
                cursor: pointer;
            }
        }

        .mobile-menu-wrapper {
            overflow: hidden;
            display: block;
        }

        .menu-parent-item {
            width: 100%;
            display: block;
            min-width: 10px;

            ul {
                display: none;
                z-index: 9999;
                margin-left: 0;

            }
        }

        .menu-depth-1 {
            padding-top: 0;
            margin-bottom: 0;

            &:first-of-type {

                position: relative;
                /* align-content: center; */

                a {
                    margin: auto;
                    text-align: left;
                }

                .sub-menu-parent {
                    width: 100%;
                    padding: 0 1em;
                    display: block;
                    text-align: center;

                }
            }

            //Submenu 2 stopnia (parentem jest menu-depth-1)

            .menu-depth-2 {
                text-align: left;
                display: none;
                margin: 0;
                width: 100%;
                z-index: 100000;
            }
        }

        .menu-no-parent {
            display: block;
            position: relative;
            overflow: auto;

            .no-children {
                width: 100%;
            }

            li {
                display: block;
                position: relative;
            }
        }
    }
}


//*************************************************************************************************
//*******************************************************************************************
//D E S K T O P!! 
//*******************************************************************************************
//*************************************************************************************************


@media only screen and (min-width: 960px) {
    .menu-toggle {
        display: none;
    }

    #site-navigation.second-nav-mobile {
        display: none !important;
    }

    //kolory tla menu na desktopie
    .menu-main-menu-container,
    .menu-basic-menu-container {
        background-image: linear-gradient(#eee, #ddd);
    }

    .basic-nav,
    .advanced-nav {
        position: fixed;
        z-index: 100;
    }

    .menu-second-menu-container {

        ul {
            display: flex;

            li {
                display: block;
                width: 100%;

                a {
                    padding-top: 15px;
                }

                a:hover {
                    color: @white  !important;
                    opacity: 0.7;

                }
            }
        }
    }

    .menu {
        height: 55px;
        display: flex !important;
        width: 90%;
        max-width: 1200px;

        li {
            position: static !important;
            height: 100%;
            overflow: hidden;

            a {
                height: 100%;
                padding: 10px 0;
            }
        }

        .menu-parent-item {
            text-align: center;
            display: block !important;
            width: 100%;
            min-width: 10px;

            &:hover {
                .sub-menu-wrap {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0 !important;
                    width: 100%;
                    right: 0;
                    position: absolute;
                    background-color: #f1f0f0;

                    .sub-menu:first-of-type:last-of-type {
                        left: 0 !important;
                        background-color: #f1f0f0;
                    }
                }
            }

            ul {
                float: left;
                /* top: 100%; */
                left: -999em;
            }
        }

        .menu-depth-1 {
            position: relative;
            padding-top: 1em;


            & > li:not(:last-child) {
                border-right: 1px solid @bg-1;

                & > ul li {
                    border: none;
                }
            }

            &:first-of-type {
                width: 100%;
                margin: auto;
                display: inline-flex !important;
                flex-direction: row;
                flex-wrap: nowrap;
                position: relative;

                a {
                    margin: auto;
                    text-align: center;
                }
            }

            .sub-menu-parent {
                width: 100%;
                padding: 0 1em;
                text-align: center;
            }
        }

        //Submenu 2 stopnia (parentem jest menu-depth-1)
        .menu-depth-2 {
            z-index: 100000;
            padding-bottom: 2em;
            left: -999em !important;
        }
    }



    .menu-no-parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: flex-start;
        vertical-align: top;
        align-self: flex-start;
        position: absolute;
        align-content: flex-start;
        height: auto;

        .no-children {}

        li {
            display: block;
            position: relative;
        }
    }

}



//*************************************************************************************************
//*******************************************************************************************
//STYLE OGOLNE!! 
//*******************************************************************************************
//*************************************************************************************************


#site-navigation.advanced-nav {
    display: block;
}

.menu-second-menu-container {
    background-image: linear-gradient(to top, @red-gradient-1, @red-gradient-2);
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}

//stylowanie glownej nawigacji
nav {
    font-size: 0.85em;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;

    .menu-parent-item:hover > a,
    .menu-depth-1 li:hover > a,
    .menu-depth-1 li:active > a,
    .menu-parent-item:active > a {
        color: @main;
    }

    .menu {

        margin: auto;
        padding: 0;

        ul {
            padding-left: 0;
        }

        a:hover:not(.second-menu>a),
        a:active {
            color: @main;
        }

        li:not(.menu-parent-item):not(.no-children) {
            padding: 0 1em;
        }

        //Wszystkie elementy posiadające dzieci lub będące w najwyższym stopniu

        .menu-parent-item {
            text-transform: uppercase;
        }

        .sub-menu-parent,
        .menu-parent-item {
            font-weight: 400;
            color: @text-dark;
        }

        // Dropdown menu posiadające własne submenu:

        .menu-depth-1 {

            //Submenu 2 stopnia (parentem jest menu-depth-1)

            .menu-depth-2 {
                margin: 0;
                width: 100%;

                li {
                    color: @text-medium;
                    width: 100%;

                    .menu-item-description {
                        font-weight: 100;
                        margin: 0;
                        text-transform: capitalize;
                    }
                }
            }

        }

        //Dropdown nie posiadający dzieci

        .menu-no-parent {
            padding: 1em;
            margin: auto;
            width: 100%;

            li {
                display: block;
                position: relative;
            }
        }

        .sub-menu:last-child > li {
            display: block;
        }

        .sub-menu:first-of-type:last-of-type {
            width: 100%;

        }
    }
}

//menu panel z logowaniem

.top-panel-nav {
    display: flex !important;
    height: 100%;


    @media only screen and (max-width: 960px) {
        position: relative;
        display: block !important;
    }

    .custom-logo-link {
        max-width: 120px;
        display: block;
        width: 100%;

        img {
            width: 80%;
            margin: auto;
            display: block;
            padding-top: 7px;
        }
    }

    .menu-login-panel-container {
        width: 100%;
        display: block;
    }

    .top-panel-buttons {
        position: relative;
        right: 0;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: flex-end;


        @media only screen and (max-width: 960px) {
            background-color: #fff;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid @text-light;

            right: 0;
            width: 100%;
            left: 0;
            justify-content: center;

            .login-button p,
            .logout-button p,
            .search-form,
            .username {
                display: none !important;
            }
        }

        span {
            background-position: center;
            background-repeat: no-repeat;
            height: 40px;
        }

        & > a,
        div,
        form {
            display: inline-block;
            position: relative;
            height: 40px;
            vertical-align: middle;
        }

        a:hover {
            color: @main;
        }

        form.search-form {
            float: left;
            display: flex;
            margin-right: 15px;
        }

        .username {
            padding: 10px;
        }

        //przyciski zaloguj i wyloguj
        .login-button,
        .logout-button {
            font-weight: bold;
            display: inline-block;
            width: auto;
            margin: 0 15px;

            span {
                width: 40px;
                height: 40px;
                display: inline-block;
                float: right;
                background-size: cover;
                background-position: left;
            }

            &:hover {
                span {
                    background-position: right;
                }
            }
        }

        .login-button span {
            background-image: url('../assets/top-panel/login.png');
        }

        .logout-button span {
            background-image: url('../assets/top-panel/logout.png');
        }

        //przycisk ustawien
        .settings {
            display: inline-block;
            width: 40px;
            height: 40px;

            span {
                display: block;
                width: 40px;
                background-image: url('../assets/top-panel/user.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left;
            }

            &:hover {
                span {
                    background-position: right;
                }
            }
        }

        //przycisk Facebook
        .facebook {
            height: 40px;
            width: 40px;
            display: inline-block;

            @media only screen and (min-width: 960px) {
                span {
                    background-image: url('../assets/top-panel/facebook.png');
                    background-size: cover;
                    width: 40px;
                    display: block;
                    background-position: left;
                }

                &:hover {
                    span {
                        background-position: right;
                    }
                }

            }

            @media only screen and (max-width:960px) {
                span {
                    background-image: url('../assets/top-panel/fb.png');
                    background-size: cover;
                    background-position: left;
                    width: 40px;
                    display: block;
                }

                &:hover {
                    span {
                        background-position: right;
                    }
                }
            }
        }

        //przycisk "Dla Optyka"
        .dla-optyka {
            display: inline-block;
            text-transform: uppercase;
            height: 40px;
            margin: 0 15px;

            span {
                width: 80px;
                display: inline-block;
                background-size: 80%;

            }
        }

        .login-button p,
        .logout-button p,
        .dla-optyka p {

            display: inline-block;
            padding: 10px 5px;
            width: auto;
            vertical-align: top;

        }

        .dla-optyka-white {
            color: @main;

            span {
                background-image: url('../assets/top-panel/dla-optyka2.png');
            }


            @media only screen and (max-width:960px) {
                p {
                    display: none;
                }
            }
        }

        .dla-optyka-red {
            color: #fff;
            background-color: @main;
            height: 40px;
            max-width: 300px;

            span {
                background-image: url('../assets/top-panel/dla-optyka1.png');
            }

            @media only screen and (max-width:960px) {

                p {
                    display: none;
                }
            }

            &:hover {
                background-color: @red-gradient-1;
                color: @white;
            }
        }

        .search-icon {
            background-image: url('../assets/top-panel/search.png');
            height: 40px;
            width: 40px;
            background-size: cover;
            background-position: left;
            transition: 0s;

            &:hover {
                background-position: right;
            }

            @media only screen and (min-width:960px) {
                display: none;
            }
        }
    }
}

//koniec stylowania top-panelnav
