/** COLORS **/
* {
  font-family: 'Helvetica', sans-serif;
}
html,
body {
  overflow-x: hidden;
  margin: 0 !important;
  overflow-y: auto;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}
main {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: auto;
  min-height: 70vh;
  height: 100%;
}
footer {
  background-color: #ce002d;
  color: #ffffff;
}
section {
  margin: 1em auto !important;
}
#masthead {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 100;
}
#breadcrumbs {
  text-align: center;
  margin: 60px auto 0 auto !important;
  font-size: 0.85em;
  padding: 1.5em 0;
  text-transform: uppercase;
  color: #a5a6a6;
}
#breadcrumbs a:hover {
  color: #333;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: translateY(0px);
}
a:hover {
  cursor: pointer !important;
}
/**-----------------
    **-----------------
    Loader strony
    **-----------------
    **----------------*/
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../assets/top-panel/logo-jzo.png') center no-repeat #fff;
}
.page-template-default .entry-header,
.page-template-default #breadcrumbs {
  display: none;
}
@media only screen and (max-width: 480px) {
  #gallery-2-col,
  #gallery-3-col,
  #gallery-4-col,
  #gallery-5-col {
    grid-template-columns: 1fr;
  }
  .product-gallery {
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .product-gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  #gallery-5-col,
  #gallery-4-col,
  #gallery-3-col {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .icon-gallery-center {
    display: block;
  }
  .icon-gallery-center .gallery-item {
    width: 80%;
    margin: auto;
    display: block;
  }
}
@media only screen and (min-width: 601px) {
  .icon-gallery-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .icon-gallery-center .gallery-item {
    max-width: 230px;
    width: 50vw;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  #gallery-2-col {
    grid-template-columns: 1fr 1fr;
  }
  #gallery-3-col,
  #gallery-4-col,
  #gallery-5-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 769px) {
  .chess-grid > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .chess-grid .img {
    padding-bottom: 70%;
  }
  #text_and_img_row {
    display: grid;
  }
  .text-img-row-1,
  .img-text-row-1 {
    grid-template-columns: 1fr 2fr;
  }
  .text-img-row-2,
  .img-text-row-2 {
    grid-template-columns: 2fr 1fr;
  }
  .text-img-row-3,
  .img-text-row-3 {
    grid-template-columns: 1fr 1fr;
  }
  .img-text-row-1 .paragraph,
  .img-text-row-2 .paragraph,
  .img-text-row-3 .paragraph {
    padding-left: 2em;
  }
  .img-text-row-1 .paragraph h1,
  .img-text-row-2 .paragraph h1,
  .img-text-row-3 .paragraph h1,
  .img-text-row-1 .paragraph h2,
  .img-text-row-2 .paragraph h2,
  .img-text-row-3 .paragraph h2,
  .img-text-row-1 .paragraph h3,
  .img-text-row-2 .paragraph h3,
  .img-text-row-3 .paragraph h3,
  .img-text-row-1 .paragraph h4,
  .img-text-row-2 .paragraph h4,
  .img-text-row-3 .paragraph h4,
  .img-text-row-1 .paragraph h5,
  .img-text-row-2 .paragraph h5,
  .img-text-row-3 .paragraph h5 {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .text-img-row-1 .paragraph,
  .text-img-row-2 .paragraph,
  .text-img-row-3 .paragraph {
    padding-right: 2em;
  }
  .text-img-row-1 .paragraph h1,
  .text-img-row-2 .paragraph h1,
  .text-img-row-3 .paragraph h1,
  .text-img-row-1 .paragraph h2,
  .text-img-row-2 .paragraph h2,
  .text-img-row-3 .paragraph h2,
  .text-img-row-1 .paragraph h3,
  .text-img-row-2 .paragraph h3,
  .text-img-row-3 .paragraph h3,
  .text-img-row-1 .paragraph h4,
  .text-img-row-2 .paragraph h4,
  .text-img-row-3 .paragraph h4,
  .text-img-row-1 .paragraph h5,
  .text-img-row-2 .paragraph h5,
  .text-img-row-3 .paragraph h5 {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .product-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }
}
@media only screen and (max-width: 768px) {
  .chess-grid .paragraph {
    margin-top: 1em;
  }
  .chess-grid .chess-left {
    display: block;
  }
  .chess-grid .chess-right {
    display: flex;
    flex-direction: column-reverse;
  }
  .chess-grid .img {
    padding-bottom: 40%;
  }
  .text-grid-row {
    padding: 1em 0 2em 0;
    display: block;
  }
  .text-grid-row .paragraph {
    padding-bottom: 2em;
  }
  .text-grid-row .gallery {
    display: block;
    width: 90%;
    margin: auto;
  }
  .text-grid-row .gallery .gallery-item {
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
  }
  .text-grid-row .gallery .img {
    width: 100%;
    padding-bottom: 100%;
    display: block;
  }
  #text_and_img_row {
    display: block;
  }
  #text_and_img_row .paragraph {
    margin: 1em 0;
  }
  footer p {
    display: block;
    width: 80%;
    margin: 1em auto;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
  .text-grid-row {
    padding: 1em 0 2em 0;
    display: block;
  }
  .text-grid-row .paragraph {
    padding-bottom: 2em;
  }
  .text-grid-row .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .text-grid-row .gallery .gallery-item {
    padding: 0 1em;
    width: 30vw;
    min-width: 200px;
    justify-content: space-between;
  }
  .text-grid-row .gallery .gallery-item .img {
    padding-bottom: 20vw;
    min-width: 20vw;
    display: block;
    margin: auto;
    max-height: 170px;
    max-width: 170px;
  }
  #gallery-2-col {
    grid-template-columns: 1fr 1fr;
  }
  #gallery-3-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #gallery-4-col,
  #gallery-5-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 769px) {
  footer {
    height: auto;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  footer .site-info {
    display: flex;
  }
  footer .site-info p {
    display: inline-block;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1em;
  }
}
@media only screen and (max-width: 960px) {
  .text-column-group {
    display: block;
  }
  .text-column-group p {
    width: 100%;
  }
  .text-column-group .text-column {
    padding: 1em 0;
  }
  .red-separator {
    width: 90%;
  }
}
@media only screen and (min-width: 961px) {
  .text-column-group {
    display: flex;
  }
  .text-column-group .text-column {
    display: inline-block;
  }
  .red-separator {
    width: 100%;
  }
  .text-grid-row {
    padding: 1em 0 2em 0;
    grid-gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text-grid-row p {
    width: 100%;
  }
  .text-grid-row .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .text-grid-row .gallery .gallery-item {
    padding: 0 1em;
  }
  .text-grid-row .gallery .gallery-item .img {
    min-height: 160px;
    min-width: 160px;
  }
  #gallery-2-col {
    grid-template-columns: 1fr 1fr;
  }
  #gallery-3-col {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #gallery-4-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #gallery-5-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1201px) {
  #text_and_img_row,
  .text-column-group,
  .product-gallery {
    width: 100%;
    max-width: 1200px;
  }
  #gallery-2-col,
  #gallery-3-col,
  #gallery-4-col,
  #gallery-5-col {
    width: 100%;
    max-width: 1200px;
  }
}
@media only screen and (max-width: 1200px) {
  #text_and_img_row,
  .text-grid-row,
  .text-column-group,
  .product-gallery {
    width: 90%;
  }
  #gallery-2-col,
  #gallery-3-col,
  #gallery-4-col,
  #gallery-5-col {
    width: 90%;
  }
}
/**-----------------
    **-----------------
    Hero image
    **-----------------
    **----------------*/
.hero {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#hero_img_1 .hero {
  height: 500px;
  max-height: 70vw;
}
#hero_img_2 .hero {
  height: 300px;
  max-height: 40vw;
}
/**-----------------
    **-----------------
Kolumny tekstu
    **-----------------
    **----------------*/
.text-column-group {
  padding: 2em 0 0 0;
}
/**-----------------
    **-----------------
    Separator
    **-----------------
    **----------------*/
.red-separator {
  display: block;
  height: 1px;
  background-color: #ce002d;
}
.red-jumbotron {
  background-color: #ce002d;
  color: #fff;
  text-align: center;
  padding: 1em;
}
.red-jumbotron h1 {
  width: 90%;
  max-width: 900px;
  margin: auto;
}
.red-jumbotron p {
  width: 70%;
  max-width: 700px;
  margin: auto;
  padding: 1em;
}
.red-jumbotron a {
  text-decoration: none;
}
/**-----------------
    **-----------------
    Czerwony Nagłowek
    **-----------------
    **----------------*/
.red-header {
  color: #ce002d;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6em !important;
  text-align: center;
  margin: auto;
  padding: 1em 0;
}
/**-----------------
    **-----------------
    **-----------------
    Kolumna tekstu i galeria 50/50
    **-----------------
    **-----------------
**----------------*/
.text-grid-row .gallery .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  display: block;
}
.text-grid-row .gallery .gallery-title {
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 1em;
  font-weight: bold;
}
.text-grid-row .gallery .paragraph {
  padding-bottom: 3em;
  text-align: center;
  font-size: 0.9em;
}
.gallery-item h2 {
  color: #ce002d;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3em;
  padding-bottom: 10px;
}
.gallery-item h3 {
  color: #333;
  font-weight: 500;
  font-size: 1.1em;
  padding-bottom: 10px;
}
.gallery-item p {
  color: #757477;
}
/**-----------------
    **-----------------
Elastyczna galeria
    **-----------------
    **----------------*/
.icon-gallery-center {
  width: 100%;
  padding: 2em 0;
}
.icon-gallery-center .gallery-item {
  height: auto;
  margin: 2em;
}
.icon-gallery-center .gallery-item .img {
  min-width: 200px;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#text_and_img_row {
  margin: auto;
  max-width: 1200px;
  padding: 1em 0 2em 0;
}
#text_and_img_row .paragraph p {
  margin: 0;
  width: 100% !important;
}
#text_and_img_row .img {
  width: 100%;
  padding-bottom: 60%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.search-form input[type="search"] {
  border-top: none;
  border-right: none;
  border-left: none;
  height: 40px;
  color: #333;
  padding: 0 10px;
  border-radius: 0;
  border-bottom: 2px solid #a5a6a6;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.search-form input[type="search"]:focus {
  color: #333;
}
.search-form input[value="search"] {
  display: none;
}
.search-form .search-submit {
  height: 40px;
  width: 38px;
  background-color: #fff !important;
  border-radius: 0;
  border-top: 0;
  color: rgba(255, 255, 255, 0);
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #a5a6a6;
  background-image: url('../assets/top-panel/search.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.search-form .search-submit:hover {
  background-position: right;
}
.top-panel-buttons .search-form {
  max-width: 200px;
}
.top-panel-buttons .search-form label {
  width: 100%;
}
.top-panel-buttons .search-form label input {
  width: 100%;
}
.top-panel-buttons .search-form input[type="submit"] {
  height: 40px;
  width: 41px;
}
.search-results.search-form {
  max-width: 600px;
  width: 90%;
  margin: auto;
}
.search-results main,
.page-template-wyszukiwarka main {
  padding-top: 4em;
  width: 90%;
  max-width: 1200px;
}
.search-results h1,
.page-template-wyszukiwarka h1 {
  margin: 1em auto;
  font-size: 1.4em;
  text-transform: uppercase;
}
.search-results .query,
.page-template-wyszukiwarka .query {
  color: #ce002d;
}
.search-results h2,
.page-template-wyszukiwarka h2 {
  font-size: 1.1em;
}
.search-results h2 a:hover,
.page-template-wyszukiwarka h2 a:hover {
  color: #ce002d;
}
.search-results h3,
.page-template-wyszukiwarka h3 {
  padding: 1em 0;
}
.search-results a:hover,
.page-template-wyszukiwarka a:hover {
  color: #ce002d;
}
.search-results .custom-search,
.page-template-wyszukiwarka .custom-search {
  height: 40px;
}
.search-results .custom-search input,
.page-template-wyszukiwarka .custom-search input {
  border-bottom: 2px solid #ce002d;
}
.search-results .custom-search:hover input,
.page-template-wyszukiwarka .custom-search:hover input {
  border-bottom: 2px solid #ce002d;
}
.search-results .custom-search form,
.page-template-wyszukiwarka .custom-search form {
  height: 50px;
  width: 100%;
  display: flex;
  float: left;
  margin-bottom: 2em;
}
.search-results .custom-search form label,
.page-template-wyszukiwarka .custom-search form label,
.search-results .custom-search form label > input,
.page-template-wyszukiwarka .custom-search form label > input {
  width: 100%;
  height: 50px;
}
.search-results .custom-search form input[type="submit"],
.page-template-wyszukiwarka .custom-search form input[type="submit"] {
  height: 50px;
  width: 50px;
}
a:hover:not(.product-gallery a:hover) .gallery-item .img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-in-out;
  transform: translateY(-3px);
  transition: 0.3s;
}
#gallery-2-col,
#gallery-3-col,
#gallery-4-col,
#gallery-5-col {
  display: grid;
  grid-gap: 2em;
  padding: 2em 0 0 0;
  margin: auto;
}
#gallery-2-col .gallery-item,
#gallery-3-col .gallery-item,
#gallery-4-col .gallery-item,
#gallery-5-col .gallery-item {
  margin-top: 0;
  display: block;
  width: 100%;
}
#gallery-2-col a > .gallery-item,
#gallery-3-col a > .gallery-item,
#gallery-4-col a > .gallery-item,
#gallery-5-col a > .gallery-item {
  width: 100% !important;
}
#gallery-2-col .img,
#gallery-3-col .img,
#gallery-4-col .img,
#gallery-5-col .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  margin: 0 auto 1em auto;
}
#gallery-2-col a,
#gallery-3-col a,
#gallery-4-col a,
#gallery-5-col a {
  margin-top: 0;
  width: 100%;
}
#gallery-2-col h2,
#gallery-3-col h2,
#gallery-4-col h2,
#gallery-5-col h2,
#gallery-2-col h3,
#gallery-3-col h3,
#gallery-4-col h3,
#gallery-5-col h3,
#gallery-2-col p,
#gallery-3-col p,
#gallery-4-col p,
#gallery-5-col p {
  text-align: left;
  width: 100%;
}
.square .img {
  width: 100%;
  padding-bottom: 100%;
}
.square h2,
.square h3,
.square p {
  text-align: left;
  width: 100%;
}
.landscape-wide .img {
  width: 100%;
  padding-bottom: 45%;
}
.landscape .img {
  width: 100%;
  padding-bottom: 70%;
}
.portrait .img {
  width: 100%;
  padding-bottom: 150%;
}
.product-gallery {
  display: grid;
  margin: auto;
}
.product-gallery .img {
  width: 100%;
  padding-bottom: 60%;
  display: block;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.product-gallery .paragraph {
  border: 2px solid #a5a6a6;
  padding: 0.5em;
}
.product-gallery .paragraph .name {
  text-transform: uppercase;
  font-weight: bold;
}
.product-gallery .paragraph p {
  margin-bottom: 0;
}
.product-gallery a:hover .img {
  opacity: 0.8;
  transition: 0.3s;
}
.product-gallery a:hover .paragraph {
  border: 2px solid #333;
  transition: 0.3s;
}
.chess-grid .paragraph {
  align-self: center;
}
.chess-grid .img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
}
.blank-space {
  width: 100%;
  display: block;
  height: 2em;
}
.error-404 .error-404-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: block;
}
.error-404 .error-header {
  color: #fed219;
  font-weight: bold;
  font-size: 10em;
  width: 90%;
  display: block;
  margin: auto;
}
.error-404 a {
  color: #ce002d;
}
.error-404 a:hover {
  color: #ac0227;
}
.error-404 a p {
  margin-bottom: 0;
  padding: 0.4em 0;
}
@media only screen and (max-width: 768px) {
  .error-404 {
    display: block;
    grid-template-columns: 1fr 1fr;
    padding-top: 6em;
  }
  .error-404 .error-404-img {
    background-image: url('../assets/images/Fotolia_251527931_Subscription_Monthly_M.jpg');
    height: 300px;
  }
  .error-404 .mobile-error-header {
    text-align: center;
    margin: auto;
  }
  .error-404 .error-page-content {
    padding: 2em 0;
  }
  .error-404 .error-page-content .red-separator {
    width: 50%;
    left: 0;
    margin-left: 5%;
  }
  .error-404 .error-page-content .desktop-error-header {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .error-404 {
    display: grid;
    padding-top: 5em;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
  }
  .error-404 .error-404-img {
    background-image: url('../assets/images/Fotolia_249995536_Subscription_Monthly_M.jpg');
  }
  .error-404 .mobile-error-header {
    display: none;
  }
  .error-404 .error-page-content {
    padding-top: 2em;
    padding-left: 3em;
  }
  .error-404 .error-page-content .red-separator {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .active {
    display: block !important;
  }
  .submenu-toggle {
    display: block !important;
  }
  .fixed {
    position: fixed;
    width: 100% !important;
  }
  #breadcrumbs {
    padding-top: 6em;
  }
  .mobile-scroll {
    height: 100vh;
    overflow: scroll;
    z-index: 1000;
    top: 60px;
    position: fixed;
    padding: 0 15px 60px 15px;
    width: 100%;
    background-color: #fff;
  }
  #site-navigation.second-nav-desktop {
    display: none;
  }
  #site-navigation.second-nav-mobile {
    position: relative;
    width: 100%;
    display: block;
    z-index: 10;
  }
  .menu-second-menu-container {
    height: 9em;
    background-image: linear-gradient(to top, #ac0227, #ce002d);
  }
  .menu-second-menu-container ul {
    display: block;
  }
  .menu-second-menu-container ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .menu-second-menu-container a:hover {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .advanced-nav {
    position: fixed;
    top: 60px;
    z-index: 100;
  }
  .menu-toggle {
    position: fixed;
    top: 25px;
    right: 15px;
    width: 30px;
    z-index: 100;
    height: 24px;
  }
  .menu-toggle span {
    width: 100%;
    display: block;
    height: 4px;
    background-color: #333;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s;
  }
  .menu-toggle span:nth-child(2) {
    top: 10px;
  }
  .menu-toggle span:last-child {
    bottom: 0;
  }
  .menu-toggle .toggled:first-of-type {
    transform: rotate(45deg) translate(2px, 8px);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
  }
  .menu-toggle .toggled:nth-child(2) {
    transform: translateX(5em);
    transition: 0.1s;
    transition-timing-function: linear;
  }
  .menu-toggle .toggled:last-child {
    transform: rotate(-45deg) translate(5px, -12px);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }
  .menu-toggle:hover span {
    background-color: #ce002d;
  }
  .menu {
    display: none;
    width: 100%;
    text-align: left;
  }
  .menu li {
    position: relative !important;
    height: auto;
  }
  .menu li a {
    height: 100%;
    padding: 10px 0;
  }
  .menu .mobile-menu-chevron {
    width: 150px;
    height: 41px;
    color: #ce002d;
    padding-right: 15px;
    position: absolute;
    display: block;
    float: right;
    right: 0;
    /* top: 0; */
  }
  .menu .mobile-menu-chevron span {
    height: 100%;
    width: 40px;
    background-image: url('../assets/chevron-up.svg');
    background-color: #fff;
    transform: rotate(180deg);
    transition: 0.3s;
    transition-delay: 0.2s;
    background-size: contain;
    background-position: right center;
    display: block;
    float: right;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
  }
  .menu .mobile-menu-chevron .toggled {
    transform: rotate(0deg);
    transition: 0.3s;
    transition-delay: 0.2s;
  }
  .menu .mobile-menu-chevron:hover {
    cursor: pointer;
  }
  .menu .mobile-menu-wrapper {
    overflow: hidden;
    display: block;
  }
  .menu .menu-parent-item {
    width: 100%;
    display: block;
    min-width: 10px;
  }
  .menu .menu-parent-item ul {
    display: none;
    z-index: 9999;
    margin-left: 0;
  }
  .menu .menu-depth-1 {
    padding-top: 0;
    margin-bottom: 0;
  }
  .menu .menu-depth-1:first-of-type {
    position: relative;
    /* align-content: center; */
  }
  .menu .menu-depth-1:first-of-type a {
    margin: auto;
    text-align: left;
  }
  .menu .menu-depth-1:first-of-type .sub-menu-parent {
    width: 100%;
    padding: 0 1em;
    display: block;
    text-align: center;
  }
  .menu .menu-depth-1 .menu-depth-2 {
    text-align: left;
    display: none;
    margin: 0;
    width: 100%;
    z-index: 100000;
  }
  .menu .menu-no-parent {
    display: block;
    position: relative;
    overflow: auto;
  }
  .menu .menu-no-parent .no-children {
    width: 100%;
  }
  .menu .menu-no-parent li {
    display: block;
    position: relative;
  }
}
@media only screen and (min-width: 960px) {
  .menu-toggle {
    display: none;
  }
  #site-navigation.second-nav-mobile {
    display: none !important;
  }
  .menu-main-menu-container,
  .menu-basic-menu-container {
    background-image: linear-gradient(#eee, #ddd);
  }
  .basic-nav,
  .advanced-nav {
    position: fixed;
    z-index: 100;
  }
  .menu-second-menu-container ul {
    display: flex;
  }
  .menu-second-menu-container ul li {
    display: block;
    width: 100%;
  }
  .menu-second-menu-container ul li a {
    padding-top: 15px;
  }
  .menu-second-menu-container ul li a:hover {
    color: #ffffff !important;
    opacity: 0.7;
  }
  .menu {
    height: 55px;
    display: flex !important;
    width: 90%;
    max-width: 1200px;
  }
  .menu li {
    position: static !important;
    height: 100%;
    overflow: hidden;
  }
  .menu li a {
    height: 100%;
    padding: 10px 0;
  }
  .menu .menu-parent-item {
    text-align: center;
    display: block !important;
    width: 100%;
    min-width: 10px;
  }
  .menu .menu-parent-item:hover .sub-menu-wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    width: 100%;
    right: 0;
    position: absolute;
    background-color: #f1f0f0;
  }
  .menu .menu-parent-item:hover .sub-menu-wrap .sub-menu:first-of-type:last-of-type {
    left: 0 !important;
    background-color: #f1f0f0;
  }
  .menu .menu-parent-item ul {
    float: left;
    /* top: 100%; */
    left: -999em;
  }
  .menu .menu-depth-1 {
    position: relative;
    padding-top: 1em;
  }
  .menu .menu-depth-1 > li:not(:last-child) {
    border-right: 1px solid #bfbfbf;
  }
  .menu .menu-depth-1 > li:not(:last-child) > ul li {
    border: none;
  }
  .menu .menu-depth-1:first-of-type {
    width: 100%;
    margin: auto;
    display: inline-flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
  }
  .menu .menu-depth-1:first-of-type a {
    margin: auto;
    text-align: center;
  }
  .menu .menu-depth-1 .sub-menu-parent {
    width: 100%;
    padding: 0 1em;
    text-align: center;
  }
  .menu .menu-depth-2 {
    z-index: 100000;
    padding-bottom: 2em;
    left: -999em !important;
  }
  .menu-no-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-start;
    vertical-align: top;
    align-self: flex-start;
    position: absolute;
    align-content: flex-start;
    height: auto;
  }
  .menu-no-parent li {
    display: block;
    position: relative;
  }
}
#site-navigation.advanced-nav {
  display: block;
}
.menu-second-menu-container {
  background-image: linear-gradient(to top, #ac0227, #ce002d);
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
nav {
  font-size: 0.85em;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
nav .menu-parent-item:hover > a,
nav .menu-depth-1 li:hover > a,
nav .menu-depth-1 li:active > a,
nav .menu-parent-item:active > a {
  color: #ce002d;
}
nav .menu {
  margin: auto;
  padding: 0;
}
nav .menu ul {
  padding-left: 0;
}
nav .menu a:hover:not(.second-menu>a),
nav .menu a:active {
  color: #ce002d;
}
nav .menu li:not(.menu-parent-item):not(.no-children) {
  padding: 0 1em;
}
nav .menu .menu-parent-item {
  text-transform: uppercase;
}
nav .menu .sub-menu-parent,
nav .menu .menu-parent-item {
  font-weight: 400;
  color: #333;
}
nav .menu .menu-depth-1 .menu-depth-2 {
  margin: 0;
  width: 100%;
}
nav .menu .menu-depth-1 .menu-depth-2 li {
  color: #757477;
  width: 100%;
}
nav .menu .menu-depth-1 .menu-depth-2 li .menu-item-description {
  font-weight: 100;
  margin: 0;
  text-transform: capitalize;
}
nav .menu .menu-no-parent {
  padding: 1em;
  margin: auto;
  width: 100%;
}
nav .menu .menu-no-parent li {
  display: block;
  position: relative;
}
nav .menu .sub-menu:last-child > li {
  display: block;
}
nav .menu .sub-menu:first-of-type:last-of-type {
  width: 100%;
}
.top-panel-nav {
  display: flex !important;
  height: 100%;
}
@media only screen and (max-width: 960px) {
  .top-panel-nav {
    position: relative;
    display: block !important;
  }
}
.top-panel-nav .custom-logo-link {
  max-width: 120px;
  display: block;
  width: 100%;
}
.top-panel-nav .custom-logo-link img {
  width: 80%;
  margin: auto;
  display: block;
  padding-top: 7px;
}
.top-panel-nav .menu-login-panel-container {
  width: 100%;
  display: block;
}
.top-panel-nav .top-panel-buttons {
  position: relative;
  right: 0;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 960px) {
  .top-panel-nav .top-panel-buttons {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #a5a6a6;
    right: 0;
    width: 100%;
    left: 0;
    justify-content: center;
  }
  .top-panel-nav .top-panel-buttons .login-button p,
  .top-panel-nav .top-panel-buttons .logout-button p,
  .top-panel-nav .top-panel-buttons .search-form,
  .top-panel-nav .top-panel-buttons .username {
    display: none !important;
  }
}
.top-panel-nav .top-panel-buttons span {
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
}
.top-panel-nav .top-panel-buttons > a,
.top-panel-nav .top-panel-buttons div,
.top-panel-nav .top-panel-buttons form {
  display: inline-block;
  position: relative;
  height: 40px;
  vertical-align: middle;
}
.top-panel-nav .top-panel-buttons a:hover {
  color: #ce002d;
}
.top-panel-nav .top-panel-buttons form.search-form {
  float: left;
  display: flex;
  margin-right: 15px;
}
.top-panel-nav .top-panel-buttons .username {
  padding: 10px;
}
.top-panel-nav .top-panel-buttons .login-button,
.top-panel-nav .top-panel-buttons .logout-button {
  font-weight: bold;
  display: inline-block;
  width: auto;
  margin: 0 15px;
}
.top-panel-nav .top-panel-buttons .login-button span,
.top-panel-nav .top-panel-buttons .logout-button span {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  background-size: cover;
  background-position: left;
}
.top-panel-nav .top-panel-buttons .login-button:hover span,
.top-panel-nav .top-panel-buttons .logout-button:hover span {
  background-position: right;
}
.top-panel-nav .top-panel-buttons .login-button span {
  background-image: url('../assets/top-panel/login.png');
}
.top-panel-nav .top-panel-buttons .logout-button span {
  background-image: url('../assets/top-panel/logout.png');
}
.top-panel-nav .top-panel-buttons .settings {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.top-panel-nav .top-panel-buttons .settings span {
  display: block;
  width: 40px;
  background-image: url('../assets/top-panel/user.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.top-panel-nav .top-panel-buttons .settings:hover span {
  background-position: right;
}
.top-panel-nav .top-panel-buttons .facebook {
  height: 40px;
  width: 40px;
  display: inline-block;
}
@media only screen and (min-width: 960px) {
  .top-panel-nav .top-panel-buttons .facebook span {
    background-image: url('../assets/top-panel/facebook.png');
    background-size: cover;
    width: 40px;
    display: block;
    background-position: left;
  }
  .top-panel-nav .top-panel-buttons .facebook:hover span {
    background-position: right;
  }
}
@media only screen and (max-width: 960px) {
  .top-panel-nav .top-panel-buttons .facebook span {
    background-image: url('../assets/top-panel/fb.png');
    background-size: cover;
    background-position: left;
    width: 40px;
    display: block;
  }
  .top-panel-nav .top-panel-buttons .facebook:hover span {
    background-position: right;
  }
}
.top-panel-nav .top-panel-buttons .dla-optyka {
  display: inline-block;
  text-transform: uppercase;
  height: 40px;
  margin: 0 15px;
}
.top-panel-nav .top-panel-buttons .dla-optyka span {
  width: 80px;
  display: inline-block;
  background-size: 80%;
}
.top-panel-nav .top-panel-buttons .login-button p,
.top-panel-nav .top-panel-buttons .logout-button p,
.top-panel-nav .top-panel-buttons .dla-optyka p {
  display: inline-block;
  padding: 10px 5px;
  width: auto;
  vertical-align: top;
}
.top-panel-nav .top-panel-buttons .dla-optyka-white {
  color: #ce002d;
}
.top-panel-nav .top-panel-buttons .dla-optyka-white span {
  background-image: url('../assets/top-panel/dla-optyka2.png');
}
@media only screen and (max-width: 960px) {
  .top-panel-nav .top-panel-buttons .dla-optyka-white p {
    display: none;
  }
}
.top-panel-nav .top-panel-buttons .dla-optyka-red {
  color: #fff;
  background-color: #ce002d;
  height: 40px;
  max-width: 300px;
}
.top-panel-nav .top-panel-buttons .dla-optyka-red span {
  background-image: url('../assets/top-panel/dla-optyka1.png');
}
@media only screen and (max-width: 960px) {
  .top-panel-nav .top-panel-buttons .dla-optyka-red p {
    display: none;
  }
}
.top-panel-nav .top-panel-buttons .dla-optyka-red:hover {
  background-color: #ac0227;
  color: #ffffff;
}
.top-panel-nav .top-panel-buttons .search-icon {
  background-image: url('../assets/top-panel/search.png');
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: left;
  transition: 0s;
}
.top-panel-nav .top-panel-buttons .search-icon:hover {
  background-position: right;
}
@media only screen and (min-width: 960px) {
  .top-panel-nav .top-panel-buttons .search-icon {
    display: none;
  }
}
h1,
h2,
h3,
h4,
p {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: block;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
fieldset {
  border: none;
}
.entry-content p.swpm-item-submit input,
.entry-content .swpm-login-form-submit {
  background-color: #ce002d;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  padding: 10px 15px !important;
  border: none;
  border-radius: 0;
}
.entry-content .swpm-login-widget-form {
  padding-top: 4em;
  width: 400px;
  max-width: 90%;
  margin: auto;
}
.entry-content .swpm-login-widget-form label {
  font-weight: bold;
}
.entry-content .swpm-login-widget-form input {
  width: 100%;
}
.entry-content .swpm-login-widget-form .swpm-remember-me {
  display: flex;
  padding-bottom: 1em;
}
.entry-content .swpm-login-widget-form .swpm-remember-me .swpm-remember-checkbox {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}
.entry-content .swpm-login-widget-form a:hover {
  color: #ce002d;
}
.entry-content .swpm-form-builder-container li.swpm-item label,
.entry-content .swpm-login-widget-form li.swpm-item label,
.entry-content .swpm-form-builder-container .swpm-username-label label,
.entry-content .swpm-login-widget-form .swpm-username-label label,
.entry-content .swpm-form-builder-container .swpm-password-label label,
.entry-content .swpm-login-widget-form .swpm-password-label label {
  color: #ce002d;
}
.entry-content .swpm-form-builder-container li.swpm-item input,
.entry-content .swpm-login-widget-form li.swpm-item input,
.entry-content .swpm-form-builder-container .swpm-username-input input,
.entry-content .swpm-login-widget-form .swpm-username-input input,
.entry-content .swpm-form-builder-container .swpm-password-input input,
.entry-content .swpm-login-widget-form .swpm-password-input input {
  border: 2px solid #a5a6a6;
  border-radius: 0;
  padding: 5px;
}
.entry-content .swpm-form-builder-container .swpm-form-builder .swpm-legend,
.entry-content .swpm-login-widget-form .swpm-form-builder .swpm-legend {
  border-bottom: none;
}
.entry-content .swpm-form-builder-container .swpm-form-builder .swpm-legend h3,
.entry-content .swpm-login-widget-form .swpm-form-builder .swpm-legend h3 {
  text-align: center;
  width: 100%;
  padding: 0;
  display: block;
}
@media only screen and (min-width: 768px) {
  .entry-content .swpm-form-builder-container ul.swpm-section,
  .entry-content .swpm-login-widget-form ul.swpm-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section .swpm-item-password,
  .entry-content .swpm-login-widget-form ul.swpm-section .swpm-item-password {
    width: 100% !important;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section .swpm-item-password > div,
  .entry-content .swpm-login-widget-form ul.swpm-section .swpm-item-password > div {
    width: 50%;
    display: inline-block;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section .swpm-item-password > div:first-of-type,
  .entry-content .swpm-login-widget-form ul.swpm-section .swpm-item-password > div:first-of-type {
    padding-right: 2em;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section .swpm-item-password > div:last-child,
  .entry-content .swpm-login-widget-form ul.swpm-section .swpm-item-password > div:last-child {
    padding-left: 2em;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section .swpm-item-password > div input,
  .entry-content .swpm-login-widget-form ul.swpm-section .swpm-item-password > div input {
    width: 100%;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section li.swpm-item,
  .entry-content .swpm-login-widget-form ul.swpm-section li.swpm-item {
    padding: 1em 2em !important;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section li.swpm-item:not(.swpm-item-password),
  .entry-content .swpm-login-widget-form ul.swpm-section li.swpm-item:not(.swpm-item-password) {
    width: 50% !important;
    display: block;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section li.swpm-item:not(.swpm-item-password) input,
  .entry-content .swpm-login-widget-form ul.swpm-section li.swpm-item:not(.swpm-item-password) input {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .entry-content .swpm-form-builder-container ul.swpm-section,
  .entry-content .swpm-login-widget-form ul.swpm-section {
    display: block;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section li.swpm-item,
  .entry-content .swpm-login-widget-form ul.swpm-section li.swpm-item {
    width: 100%;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section li.swpm-item input,
  .entry-content .swpm-login-widget-form ul.swpm-section li.swpm-item input {
    width: 100%;
    display: block;
    margin: auto;
  }
  .entry-content .swpm-form-builder-container ul.swpm-section .swpm-item-password > div,
  .entry-content .swpm-login-widget-form ul.swpm-section .swpm-item-password > div {
    margin-bottom: 2em;
  }
}
/*# sourceMappingURL=custom.css.map */